# VENDOR e STORAGE
vendor/
storage/*.key
storage/oauth-*.key
storage/logs/
storage/debugbar/
storage/framework/

# ENV files
.env
.env.*
!.env.example

# Cache Laravel
bootstrap/cache/
.phpunit.result.cache
.phpunit.cache

# Composer / npm lock (opzionale)
composer.lock
package-lock.json

# NODE MODULES & VITE
node_modules/
public/build/
public/hot/
public/storage/

# IDE / Tooling
.idea/
.vscode/
.fleet/
_ide_helper.php
.phpstorm.meta.php
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
Homestead.*
auth.json

# File personali
appunti.txt
appunti_*.txt
TO_DO_LIST.txt
!start_local.bat

# Directory "strane"
\!DUMP/
\!RELEASE/
